<app-loader *ngIf="loading"></app-loader>
<div class="properties-body">
    <div>
        <div class="row">
            <div class="col-3">
                <div class="info-card">
                    <p class="home-p"><i class="fa fa-home home-icon" style=" background-color:#f2f2f2; color:#1b2d49"></i></p>
                    <h1 class="text-center">{{allProperties.length}}</h1>
                    <p class="text-center">Total Listings</p>
                </div>
            </div>
            <div class="col-3">
                <div class="info-card">
                    <p class="home-p"><i class="fa fa-home home-icon" style="background-color:#effff6; color:#1b9878"></i></p>
                    <h1 class="text-center">{{pendingApprovalProperties.length}}</h1>
                    <p class="text-center">Active Listings</p>
                </div>
            </div>
            <div class="col-3">
                <div class="info-card">
                    <p class="home-p"><i class="fa fa-home home-icon" style="background-color:#fff1c1; color:#fca652"></i></p>
                    <h1 class="text-center">{{properties.length}}</h1>
                    <p class="text-center">Pending Listings</p>
                </div>
            </div>
            <div class="col-3">
                <div class="info-card">
                    <p class="home-p"><i class="fa fa-home home-icon" style="background-color:#ffebeb; color:#db353a"></i></p>
                    <h1 class="text-center">{{0}}</h1>
                    <p class="text-center">Sold Listings</p>
                </div>
            </div>
        </div>
    </div>

    <!---->
    <div class="table-body">
        <div class="table-title-top">
            <h3>Requests</h3>
            <div style="display: flex;">
                <div style="display: flex;">
                    <p class="mr-4">Export</p>
                    <p class="xls mr-2 cursor-pointer" (click)="exportAsXLSX()">.xls</p>
                    <p class="xls cursor-pointer" (click)="exportAsXLSX()">.csv</p>
                </div>
                <div class="sort-row">
                    <p><i class="fa fa-filter"></i></p>
                    <select [(ngModel)]="filterPropertiesValue">
                        <option value="null">Filter By</option>
                        <option value="property">Property</option>
                        <option value="status">Status</option>
                    </select>
                </div>               
                <p class="mr-2">Search</p>
                <input class="search form-control" style="width: 200px;" [(ngModel)]="searchKey" (input)="filterBySearchKey()">
            </div>
        </div>

        <table class="table table-responsiv" style="width:100%">
            <tr>
                <th></th>
                <th>Property Listing</th>
                <th>Status</th>
                <th>State</th>
                <th>Email</th>
                <th>Account Status</th>
                <th>Date</th>
                <th></th>
            </tr>
            <tr *ngFor="let property of filteredProperties | paginate: { itemsPerPage: 20, currentPage: p }; index as i">
                <td>{{i+1}}</td>
                <td>{{property.propertyTitle}}</td>
                <td>{{property.houseStatus}}</td>
                <td>{{property.state | titlecase}}</td>
                <td>{{property.createdBy}}</td>
                <td>{{property.accountStatus}}</td>
                <td>{{property.createdDate.split('T')[0]}}</td>
                <td>
                    <h6 style="color:#db353a" class="dropdown-toggle" type="button" data-toggle="dropdown"><i class="fa fa-ellipsis-v"></i></h6>
                    <ul class="dropdown-menu" style="padding:20px">
                        <li class="cursor-pointer" (click)="goToPropertyDetails(property.id)">View Details</li>
                        <hr>
                        <li class="cursor-pointer" (click)="deleteProperty(property.id, deleteModal)">Delete</li>
                        <hr>
                        <li class="cursor-pointer" style="background-color: #379c35; color:white; padding:5px; border-radius: 5px;" (click)="approveForDueDilligence(property.id, approveModal)">Approve</li>
                        <hr>
                        <li class="cursor-pointer" style="background-color: #db353a; color:white; padding:5px; border-radius: 5px;" (click)="rejectProperty(property.id, rejectModal)">Decline</li>
                    </ul>
                </td>
            </tr>
        </table>

        <div style="display: flex; justify-content: flex-end;" class="pagination-control">
            <div>
                <pagination-controls (pageChange)="p = $event"></pagination-controls>                            
            </div>
        </div>

    </div>

</div>


<ng-template #approveModal>
    <div class="add-user-success-modal">
        <h1><i class="fa fa-info-circle"></i></h1>
        <h4>{{approveReturnMessage}}</h4>
        <p class="ok cursor-pointer" (click)="dismissModal()">Ok</p>
    </div>
</ng-template>

<ng-template #rejectModal>
    <div class="add-user-success-modal">
        <h1><i class="fa fa-info-circle"></i></h1>
        <h4>{{rejectReturnMessage}}</h4>
        <p class="ok cursor-pointer" (click)="dismissModal()">Ok</p>
    </div>
</ng-template>

<ng-template #deleteModal>
    <div class="add-user-success-modal">
        <h1><i class="fa fa-info-circle"></i></h1>
        <h4>{{deleteReturnMessage}}</h4>
        <p class="ok cursor-pointer" (click)="dismissModal()">Ok</p>
    </div>
</ng-template>