<div class="full-page">
    <div class="top-nav">
        <h3><i class="fa fa-bars"></i></h3>
        <div>
            <input type="search" placeholder="what are you looking for?">
            <p><i class="fa fa-search"></i></p>
        </div>
    </div>
    <div class="body-page">
        <div>
            <div class="spots-slider">
                <div class="spot">
                    <p><i class="fa fa-user"></i> Restaurants</p>
                </div>
                <div class="spot">
                    <p><i class="fa fa-user"></i> Coffee Shops</p>
                </div>
                <div class="spot">
                    <p><i class="fa fa-user"></i> Restaurants</p>
                </div>
            </div>
        </div>
        <div class="popular">
            <p class="text">Popular Food</p>
            <p class="button">View All</p>
        </div>
    
        <div class="food-slider">
            <div class="food">
                <div class="food-text">
                    <p class="title">Lorem ipsum</p>
                    <p class="description">Lorem ipsum dolor sit</p>
                    <div class="amount-rating">
                        <p>120AA</p>
                        <p><i class="fa fa-star"></i> 4.5</p>
                    </div>
                </div>
            </div>
            <div class="food">
                <div class="food-text">
                    <p class="title">Lorem ipsum</p>
                    <p class="description">Lorem ipsum dolor sit</p>
                    <div class="amount-rating">
                        <p>120AA</p>
                        <p><i class="fa fa-star"></i> 4.5</p>
                    </div>
                </div>
            </div>
            <div class="food">
                <div class="food-text">
                    <p class="title">Lorem ipsum</p>
                    <p class="description">Lorem ipsum dolor sit</p>
                    <div class="amount-rating">
                        <p>120AA</p>
                        <p><i class="fa fa-star"></i> 4.5</p>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="popular">
            <p class="text">Special Offers</p>
            <p class="button">View All</p>
        </div>
    
        <div class="food-slider">
            <div class="food">
                <div class="food-text">
                    <p class="title">Lorem ipsum</p>
                    <p class="description">Lorem ipsum dolor</p>
                    <div class="amount-rating">
                        <p>120AA</p>
                        <p><i class="fa fa-star"></i>4.5</p>
                    </div>
                </div>
            </div>
            <div class="food">
                <div class="food-text">
                    <p class="title">Lorem ipsum</p>
                    <p class="description">Lorem ipsum dolor</p>
                    <div class="amount-rating">
                        <p>120AA</p>
                        <p><i class="fa fa-star"></i>4.5</p>
                    </div>
                </div>
            </div>
            <div class="food">
                <div class="food-text">
                    <p class="title">Lorem ipsum</p>
                    <p class="description">Lorem ipsum dolor</p>
                    <div class="amount-rating">
                        <p>120AA</p>
                        <p><i class="fa fa-star"></i>4.5</p>
                    </div>
                </div>
            </div>
        </div>
    
    </div>

    <!---->
    
    
</div>

<div class="footer-nav">
    <div>
        <p><i class="fa fa-home"></i></p>
        <p>Home</p>
    </div>
    <div>
        <p><i class="fa fa-heart"></i></p>
        <p>Favourite</p>
    </div>
    <div>
        <p><i class="fa fa-shopping-cart"></i></p>
        <p>Home</p>
    </div>
    <div>
        <p><i class="fa fa-user"></i></p>
        <p>Profile</p>
    </div>
</div>