<app-loader *ngIf="loading"></app-loader>
<div class="login-body">
    <div class="login-form">
        <form [formGroup]="loginForm">
            <div class="logo-div">
                <img src="../../../assets/images/AltHomeLogo_1.png" height="50px">
            </div>
            <div class="text-center text-danger" *ngIf="loginFailed">
                <p>Login Failed</p>
            </div>
            <p class="welcome">Welcome</p>
            <p class="login">Login to your account</p>
            <div class="form-group">
                <label class="form-label">Email address</label>
                <input class="form-control" type="email" formControlName="username">
            </div>
            <div class="form-group">
                <label class="form-label">Password</label>
                <input class="form-control" type="password" formControlName="password">
            </div>
            <p class="forgot">Forgot Password?</p>
            <p class="login-btn cursor-pointer" (click)="login(mtokenmodal)">Login</p>
        </form>
        <div class="bottom-footer">
            <div class="flex-1">
                <p>Copyright 2021</p>
                <div>
                    <p>Powered By Sterling Alternative Finance <br>All rights reserved</p>
                </div>
            </div>   
            <div class="flex-2">
                <img src="../../../assets/images/alt_finance.png" height="30px" class="mr-2">
                <img src="../../../assets/images/nifi.png" height="30px">
            </div>         
        </div>
    </div>
</div>


<ng-template #mtokenmodal>
    <div class="mtoken-modal">
        <h3>mToken...</h3>
        <input class="form-control" type="text" placeholder="Token" [(ngModel)]="mtoken">
        <p class="login-btn cursor-pointer bt" (click)="verifyToken()">Verify</p>
    </div>
</ng-template>