.login-body {
  background-color: #db353a;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.login-form {
  background-color: white;
  padding: 30px;
  width: 30%;
  margin: auto;
}
.logo-div {
  display: flex;
  justify-content: center;
}
.welcome {
  color: #db353a;
  font-size: 12px;
  margin-top: 20px;
  margin-bottom: 0;
}
.login {
  font-weight: bold;
  margin-top: 0;
  font-size: 22px;
}
label {
  font-size: 12px;
}
.forgot {
  font-size: 12px;
}
.login-btn {
  color: white;
  background-color: #db353a;
  padding: 10px;
  text-align: center;
}

.mtoken-modal {
  padding: 30px;
  text-align: center;
  input {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

.bottom-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  .flex-1 {
    font-size: 8px;
    color: #595959;
  }
}
